html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    font-style: normal;
    line-height: normal;
    font-family: Lato, Halvetica, sans-serif;
    font-weight: 400;
    background-color: $white;
    color: $accent;
    font-size: 16px;

    &._noscroll {
        overflow: hidden;
    }
}

.wrapper {
    min-height: 100%;
    scroll-behavior: smooth;
    overflow-x: clip;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex: 1 1 auto;
}

._container {
    width: 100%;
    margin-inline: auto;
    max-width: $container + px;

    @media (max-width: $containerWithPadding + px) {
        max-width: none;
        padding-inline: $padding + px;
    }

    @media (max-width: 1024px) {
        padding-inline: 15px;
    }
}

h1 {
    color: $white;
    @include adaptive-value("font-size", 60, 22, 1);
}

h2 {
    color: $text;
    font-family: "PTSerif";
    @include adaptive-value("font-size", 42, 24, 1);
    margin-bottom: 30px;
}

figure,
img,
svg,
picture {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.sidebar {
    min-width: 260px;

    @media (max-width: 1024px) {
        display: none;
    }

    a {
        transition: opacity 0.3s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                opacity: 0.7;
            }
        }
    }

    nav {
        & > ul {
            & > :not(:last-child) {
                border-bottom: 1px solid $gray_2;
            }

            & > li {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                padding: 15px 0;

                &[data-open="open"] {
                    ul {
                        max-height: 100%;
                        margin-top: 20px;
                    }
                }

                & > a {
                    color: $text;
                    font-weight: 500;
                    width: calc(100% - 15px);
                }

                ul {
                    max-height: 0;
                    overflow: hidden;
                    transition: all 0.3s ease 0s;

                    & > :not(:last-child) {
                        margin-bottom: 8px;
                    }

                    a {
                        font-weight: 400;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.breadcrumbs {
    @include adaptive-value("margin-top", 20, 15, 1);
    @include adaptive-value("margin-bottom", 60, 30, 1);

    ul {
        display: flex;
        align-items: center;
        gap: 5px;

        li {
            display: flex;
            align-items: center;
            gap: 5px;
            color: $text;
            font-size: 14px;

            @media (max-width: 768px) {
                font-size: 12px;
            }

            a {
                span {
                    opacity: 1;
                }
            }

            span {
                opacity: 0.5;
            }
        }
    }
}
.swiper {
    .swiper-slide {
        height: auto;
    }
}

.pagination {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    @media (max-width: 768px) {
        gap: 5px;
    }

    span {
        cursor: pointer;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background-color: $accent_2;

        @media (max-width: 768px) {
            width: 10px;
            height: 10px;
        }

        &.swiper-pagination-bullet-active {
            background-color: $accent;
        }
    }
}

._socials {
    display: flex;
    gap: 10px;

    li {
        flex: 0 0 auto;
    }

    a {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: $white;

        svg,
        img {
            fill: $accent;
            width: 50%;
        }
    }
}

._socials-main {
    display: flex;
    gap: 20px;

    li {
        flex: 0 0 auto;
    }

    a {
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        svg,
        img {
            width: 100%;
            height: 100%;
            flex: 0 0 auto;
        }
    }
}

._btn {
    border-radius: 4px;
    font-weight: 500;
    padding: 12px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid currentColor;
    @include adaptive-value("font-size", 20, 16, 1);

    svg {
        width: 1.2em;
        fill: none;
        stroke: currentColor;
        margin-right: 10px;
        flex: 0 0 auto;
    }

    // ._btn-white

    &-white {
        color: $accent;
        background-color: $white;
    }

    // ._btn-border

    &-border {
    }

    // ._btn-accent

    &-accent {
        color: $white;
        background-color: $accent;
        border: 1px solid $accent;

        transition: all 0.3s ease 0s;
        
        @media (any-hover: hover) {
            &:hover {
                background-color: $accent_2;
                border: 1px solid $accent_2;
            }
        }
    }
}
