.header {
    z-index: 15;
    background-color: $white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

    transition: box-shadow 0.3s ease 0s;

    nav {
        margin-inline: auto;

        @media (max-width: 1024px) {
            display: none;
        }

        & > ul {
            display: flex;
            align-items: center;

            @media (min-width: 1025px) {
                @include adaptive-value("gap", 30, -30, 1);
            }

            li {
                position: relative;

                display: flex;
                align-items: center;

                button {
                    flex: 0 0 auto;
                    width: 10px;
                    margin-left: 10px;

                    svg {
                        stroke: currentColor;
                        transition: all 0.3s ease 0s;
                    }
                }
            }
        }

        ul {
            ul {
                min-width: 160px;
                position: absolute;
                left: 0;
                top: 100%;
                opacity: 0;
                pointer-events: none;
                z-index: 1;

                transition: all 0.3s ease 0s;

                padding: 15px;
                background-color: $accent;
                color: $white;
                font-size: 14px;

                & > :not(:last-child) {
                    margin-bottom: 10px;
                }
            }

            a {
            }

            li {
                position: relative;

                &[data-open="open"] {
                    ul {
                        opacity: 1;
                        pointer-events: all;
                    }

                    button svg {
                        transform: rotate(180deg);
                        stroke: $accent_2;
                    }
                }

                @media (any-hover: hover) {
                    &:hover {
                        ul {
                            opacity: 1;
                            pointer-events: all;
                        }

                        button svg {
                            transform: rotate(180deg);
                            stroke: $accent_2;
                        }
                    }
                }
            }
        }
    }

    &._sticky {
        .header__top {
            max-height: 0;
            pointer-events: none;
            overflow: hidden;
        }

        box-shadow: 0px 0px 8px 0px rgba($color: #000000, $alpha: 0.15);
    }

    // .header__top

    &__top {
        background-color: $accent;
        color: $white;
        font-size: 14px;
        transition: max-height 0.3s ease 0s;
        max-height: 50px;

        // .header__top-body

        &-body {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
            padding: 5px 0;

            @media (max-width: 1200px) {
                gap: 20px;
            }

            & > span {
                opacity: 0.5;

                @media (max-width: 768px) {
                    display: none;
                }
            }
        }

        // .header__top-phone

        &-phone {
            @media (max-width: 1024px) {
                margin-right: auto;
            }
        }

        nav {
        }

        ._btn {
            font-size: 14px !important;
            height: 33px;
            min-width: 172px;
            max-width: 172px;

            @media (max-width: 1200px) {
                min-width: 150px;
            }

            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    // .header__main

    &__main {
        padding: 15px 0px;
        font-size: 16px;

        @media (max-width: 1200px) {
            font-size: 14px;
        }

        @media (max-width: 1024px) {
            padding: 10px 0;
        }

        // .header__main-body

        &-body {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media (max-width: 768px) {
                position: relative;
            }
        }

        nav {
            margin: 0 15px;
        }
    }

    // .header__logo

    &__logo {
        width: 170px;
        display: block;
        flex: 0 0 auto;
        margin-right: 15px;

        @media (max-width: 1200px) {
            width: 160px;
        }

        @media (max-width: 1024px) {
            width: 120px;
        }
    }

    // .header__catalog

    &__catalog {
        font-size: 16px !important;
        transition: all 0.3s ease 0s;
        cursor: pointer;

        * {
            pointer-events: none;
        }

        ._close {
            display: none;
        }

        &._open {
            background-color: $accent;
            color: $white;

            svg {
                display: none;
            }

            ._close {
                display: block;
            }
        }

        @media (max-width: 1024px) {
            display: none;
        }
    }

    // .header__actions

    &__actions {
        @media (min-width: 769px) {
            position: relative;
        }

        display: flex;
        gap: 20px;

        @media (max-width: 1200px) {
            gap: 15px;
        }

        @media (max-width: 1024px) {
            gap: 10px;
        }

        // .header__actions-item

        &-item {
            width: 44px;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 0 auto;
            border-radius: 4px;
            border: 1px solid currentColor;

            @media (max-width: 1024px) {
                width: 35px;
                height: 35px;
            }

            img,
            svg {
                width: 45%;
                fill: currentColor;
                flex: 0 0 auto;
                pointer-events: none;
            }
        }
    }

    // .header__search

    &__search {
        // .header__search-form

        &-form {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;

            transform: translate(calc(-100% + 44px), 0);
            width: 464px;

            display: flex;
            padding: 6px 15px;
            border-radius: 4px;
            background-color: $white;
            border: 1px solid $gray;
            height: 44px;
            gap: 10px;

            opacity: 0;
            pointer-events: none;

            &._active {
                opacity: 1;
                pointer-events: all;
            }

            @media (max-width: 1024px) {
                transform: translate(calc(-100% + 35px), 0);
            }

            @media (max-width: 768px) {
                left: 0;
                transform: translate(0, 0);
                width: 100%;
            }

            form {
                display: flex;
                flex: 1 1 auto;
                gap: 10px;

                input {
                    flex: 1 1 auto;
                }

                button {
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $accent;
                    color: $white;
                    font-size: 12px;
                    padding: 8px 15px;
                    border-radius: 2px;
                    height: 30px;

                    transition: all 0.3s ease 0s;

                    @media (any-hover: hover) {
                        &:hover {
                            background-color: $accent_2;
                        }
                    }
                }
            }
        }

        // .header__search-close

        &-close {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 0 auto;
            width: 30px;
            height: 30px;

            background-color: $gray;
            border-radius: 2px;

            @media (any-hover: hover) {
                &:hover {
                    svg,
                    img {
                        transform: rotate(180deg);
                    }
                }
            }

            svg,
            img {
                width: 14px;
                flex: 0 0 auto;
                stroke: $black;
                transition: all 0.3s ease 0s;
                pointer-events: none;
            }
        }
    }

    // .header__cart

    &__cart {
        position: relative;

        span {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(50%, -50%);
            width: 15px;
            height: 15px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 10px;
            color: $white;
            background-color: $accent;
            line-height: 1;
            display: block;
            padding: 1px 0 0 1px;
        }
    }

    // .header__burger

    &__burger {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 6px;

        @media (min-width: 1025px) {
            display: none;
        }

        span {
            display: block;
            width: 20px;
            height: 1px;
            background-color: currentColor;
            border-radius: 100px;
        }
    }
}
