.menu {
    position: fixed;
    z-index: 16;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    overflow: hidden;
    overflow-y: auto;
    transform: translate(0, -150%);
    pointer-events: none;
    transition: transform 1.2s cubic-bezier(0.16, 1.08, 0.38, 0.98);
    display: none;

    @media (max-width: 1024px) {
        display: block;
    }

    &._open {
        transform: translate(0, 0);
        pointer-events: all;
    }

    // .menu__body

    &__body {
        display: flex;
        flex-direction: column;
        padding: 15px 15px 30px;
    }

    // .menu__top

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 15px;
            border-radius: 2px;
            background: $accent;

            color: $white;
            text-align: center;
            font-family: Lato;
            font-size: 12px;
            font-weight: 400;
            line-height: normal;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            border-radius: 2px;
            background: $gray;

            svg {
                flex: 0 0 auto;
                width: 14px;
                height: 14px;
                pointer-events: none;
            }
        }
    }

    nav {
        li[data-open="open"] {
            & > ul {
                max-height: 50vh;
            }

            & > a {
                color: $accent_2;
                font-weight: 600;
            }

            & > button svg {
                transform: rotate(180deg);
                stroke: $accent_2;
            }
        }

        ul {
            & > :not(:last-child) {
                margin-bottom: 10px;
            }

            li {
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                svg {
                    transition: all 0.3s ease 0s;
                    stroke: currentColor;
                }

                a {
                    margin-right: 15px;
                    transition: all 0.3s ease 0s;
                }

                ul {
                    flex: 0 0 100%;
                    width: 100%;
                    max-height: 0;
                    overflow: hidden;
                    transition: all 0.3s ease 0s;

                    & > :first-child {
                        margin-top: 10px;
                    }

                    & > :not(:last-child) {
                        margin-bottom: 10px;
                    }

                    li {
                        a {
                            display: block;
                            width: 100%;
                            text-align: left;
                            font-weight: 500;
                        }
                    }
                }
            }

            ul {
                padding-left: 10px;
            }
        }
    }

    // .menu__catalog

    &__catalog {
        flex: 1 1 auto;

        border: 1px solid currentColor;
        border-radius: 4px;
        padding: 10px 15px;
        margin: 30px 0;

        // .menu__catalog-btn

        &-btn {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;
            transition: color 0.3s ease 0s;

            svg:not(.catalog-arrow) {
                width: 20px;
                stroke: currentColor;
                fill: none;
            }

            .catalog-arrow {
                margin-left: auto;
                width: 12px;
                height: 7px;
                stroke: currentColor;
                transition: all 0.3s ease 0s;
            }

            * {
                pointer-events: none;
            }
        }

        &._open {
            .menu__catalog-btn {
                color: $accent_2;
                padding-bottom: 15px;

                .catalog-arrow {
                    transform: rotate(180deg);
                }
            }

            & > ul {
                max-height: 50vh;
            }
        }

        & > ul {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease 0s;

            overflow-y: auto;

            & > :first-child {
            }
        }

        ul {
            overflow-y: auto;
        }
    }

    // .menu__menu

    &__menu {
        & > :not(:last-child) {
            margin-bottom: 30px;
        }

        & > ul {
            & > :not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }

    // .menu__contacts

    &__contacts {
        margin-top: 60px;
        margin-bottom: 30px;
        padding-top: 15px;
        border-top: 1px solid $gray_2;

        div {
            display: flex;
            align-items: center;
            margin-top: 15px;
            gap: 15px;

            ._socials {
                a {
                    background-color: $accent;

                    svg {
                        fill: $white;
                    }
                }
            }
        }
    }
}
