.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 16;
    background-color: rgba($color: $accent, $alpha: 0.5);
    backdrop-filter: blur(25px);

    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease 0s;

    &._open {
        pointer-events: all;
        opacity: 1;

        .thankorder__content,
        .thankorder__img {
            transform: translate(0, 0);
        }

        @media (min-width: 769px) {
            .thankorder {
                opacity: 1;
            }
        }
    }

    // .popup__body

    &__body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        @media (min-width: 769px) {
            padding: 30px;
        }
    }

    // .popup__flex

    &__flex {
        max-width: 800px;
        max-height: 600px;
        height: 100%;
        width: 100%;
        border-radius: 4px;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: $white;

        @media (max-width: 768px) {
            max-width: 100%;
            max-height: 100%;
            display: flex;
            flex-direction: column;
            border-radius: 0;
            overflow-y: auto;
        }

        &.appointment-thankorder {
            display: block;

            .thankorder__content {
                height: 100%;
                overflow-y: auto;

                &::-webkit-scrollbar {
                    width: 2px;
                    background-color: rgba($color: #000000, $alpha: 0.2);
                }

                &::-webkit-scrollbar-thumb {
                    width: 2px;
                    background-color: $accent;
                }
            }

            ._btn {
                width: 100%;
            }
        }
    }

    // .popup__top

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid $gray;
        padding: 30px;

        @media (max-width: 768px) {
            padding: 15px;
        }
    }

    // .popup__left

    &__left {
    }

    // .popup__right

    &__right {
        padding: 15px;
        background-color: $white;
        display: flex;
        flex-direction: column;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 2px;
            background-color: rgba($color: #000000, $alpha: 0.2);
        }

        &::-webkit-scrollbar-thumb {
            width: 2px;
            background-color: $accent;
        }

        // .popup__right-top

        &-top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            padding-bottom: 15px;
            border-bottom: 1px solid $gray;
        }
    }

    // .popup__contacs

    &__contacs {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media (max-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
        }

        // .popup__contacs-contacts

        &-contacts {
            display: flex;
            flex-direction: column;
            gap: 15px;

            li {
                display: flex;
                align-items: center;
                gap: 10px;

                label {
                    width: 16px;
                    height: 16px;
                }

                img,
                svg {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }

                a {
                    color: $white;
                    font-size: 14px;
                }
            }
        }

        // .popup__contacs-social

        &-social {
            display: flex;
            gap: 15px;

            @media (max-width: 768px) {
                flex-direction: column;
            }

            li {
                a {
                    display: block;
                    width: 36px;
                    height: 36px;
                    flex: 0 0 auto;

                    img,
                    svg {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    // .popup__close

    &__close {
        flex: 0 0 auto;
        width: 44px;
        height: 44px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        background-color: $gray;

        @media (max-width: 768px) {
            width: 40px;
            height: 40px;
        }

        * {
            pointer-events: none;
        }

        span {
            text-transform: uppercase;
            color: $text;

            @media (max-width: 768px) {
                font-size: 12px;
            }
        }

        svg {
            fill: $text;
            width: 10px;
            height: 10px;
            flex: 0 0 auto;
            transition: transform 0.3s ease 0s;
        }

        @media (any-hover: hover) {
            &:hover {
                svg {
                    transform: rotate(180deg);
                }
            }
        }
    }

    h4 {
        color: $text;
        text-align: center;
        @include adaptive-value("font-size", 24, 18, 1);
        font-weight: 700;
    }
}

.thankorder {
    background-color: $white;

    // .thankorder-cart

    &-cart {
        display: flex;
        gap: 10px;
    }

    // .thankorder__content

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
        padding: 15px;
        height: 100%;

        @media (min-width: 769px) {
            overflow-y: auto;
        }

        @media (max-width: 768px) {
            padding-bottom: 30px;
        }

        // .thankorder__content-check

        &-check {
            width: 120px;
            height: 120px;

            @media (max-width: 768px) {
                width: 100px;
                height: 100px;
            }
        }

        // .thankorder__content-text

        &-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 15px;

            color: $text;

            text-align: center;

            p {
                @media (max-width: 768px) {
                    font-size: 14px;
                    text-align: center;
                }

                @media (max-width: 425px) {
                    max-width: unset;
                }
            }
        }

        // .thankorder__content-info

        &-info {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            label {
                display: block;
                text-align: center;
                color: $text;
                opacity: 0.5;

                @media (max-width: 768px) {
                    font-size: 14px;
                }
            }

            ol {
                display: flex;
                gap: 10px;

                li {
                    width: 100%;
                    height: 50px;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    background-color: $gray;
                    padding: 15px;
                    color: $text;

                    @media (max-width: 768px) {
                        height: 40px;
                        padding: 10px;
                        gap: 10px;
                    }

                    span {
                        @media (max-width: 768px) {
                            font-size: 14px;
                        }
                    }

                    img,
                    svg {
                        flex: 0 0 auto;
                        width: 24px;
                        height: 24px;

                        @media (max-width: 768px) {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }
        }
    }

    // .thankorder__order

    &__order {
        display: flex;
        flex-direction: column;
        gap: 30px;
        background-color: $gray;
        height: 100%;

        @media (min-width: 769px) {
            overflow-y: auto;
        }

        @media (max-width: 768px) {
            padding-top: 15px;
        }

        h3 {
            color: $text;
            text-align: center;
            font-weight: 700;
            @include adaptive-value("font-size", 24, 18, 1);
        }

        // .thankorder__order-row

        &-row {
            & > :not(:last-child) {
                margin-bottom: 15px;
            }

            @media (min-width: 769px) {
                max-height: 400px;
                height: 100%;
                overflow-y: auto;
                padding-right: 10px;

                &::-webkit-scrollbar {
                    width: 2px;
                    background-color: rgba($color: #000000, $alpha: 0.2);
                }

                &::-webkit-scrollbar-thumb {
                    width: 2px;
                    background-color: $accent;
                }
            }

            @media (max-width: 768px) {
                padding-bottom: 100px;
            }
        }

        // .thankorder__order-bottom

        &-bottom {
            border-top: 1px solid $text;
            padding-top: 15px;
            position: relative;
            z-index: 2;
            background-color: $gray;
            margin-top: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $text;
            @include adaptive-value("font-size", 22, 16, 1);

            span {
                font-size: 22px;
            }

            @media (max-width: 768px) {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                padding: 15px;
            }
        }
    }

    .popup__right {
        background-color: $gray;
        @media (max-width: 768px) {
            overflow-y: visible;
        }
    }
}

.feedback {
    .popup__left {
        background-image: url("@img/form-bgi.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        padding: 15px;
        display: flex;
        flex-direction: column;
        min-height: 200px;

        @media (min-width: 769px) {
            justify-content: flex-end;
        }

        @media (max-width: 768px) {
            order: 2;
        }

        &:after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);

            @media (max-width: 768px) {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
            }
        }
    }

    .popup__right {
        @media (max-width: 768px) {
            overflow: visible;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        height: 100%;

        &__bottom {
            margin-top: auto;

            ._btn {
                margin-top: 30px;
            }
        }
    }
}

#basket {
    .popup__body {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 30px;
        margin-left: auto;
        max-width: 720px;
        width: 100%;
        background-color: $white;

        @media (max-width: 768px) {
            max-width: 100%;
            gap: 15px;
        }
    }

    .popup__close {
        width: unset;
        height: unset;
        gap: 15px;
        background-color: unset;

        @media (max-width: 768px) {
            gap: 10px;
        }

        svg {
            width: 15px;
            height: 15px;

            @media (max-width: 768px) {
                width: 10px;
                height: 10px;
            }
        }
    }

    .basket__row {
        padding-inline: 30px;
        overflow-y: auto;

        * {
            color: $text;
        }

        @media (max-width: 768px) {
            padding-inline: 15px;
        }

        & > :not(:last-child) {
            margin-bottom: 15px;

            @media (max-width: 768px) {
                margin-bottom: 10px;
            }
        }

        &::-webkit-scrollbar {
            width: 2px;
            background-color: rgba($color: #000000, $alpha: 0.2);
        }

        &::-webkit-scrollbar-thumb {
            width: 2px;
            background-color: $accent;
        }

        .basket-cart {
            gap: 15px;

            &__name {
                transition: color 0.3s ease 0s;

                @media (any-hover: hover) {
                    &:hover {
                        color: $accent_2;
                    }
                }
            }
        }

        .basket-cart__image {
            width: 100px;
            height: 100px;
        }

        .basket-cart__info {
            gap: 15px;
            @media (max-width: 768px) {
                gap: 10px;
            }
        }
    }

    .basket__total {
        padding: 30px;
        width: 100%;
        box-shadow: 0px -4px 12px 0px rgba(0, 0, 0, 0.1);
        margin-top: auto;

        @media (max-width: 768px) {
            padding: 15px;
        }

        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            background-color: $white;
            margin-bottom: 30px;

            @media (max-width: 768px) {
                margin-bottom: 15px;
            }

            span {
                color: $text;
                @include adaptive-value("font-size", 30, 20, 1);
                font-weight: 600;
            }
        }

        a {
            width: 100%;
        }
    }
}

#catalog {
    background-color: unset;
    backdrop-filter: none;
    height: fit-content;

    &._open {
        top: 150px;
    }

    .grid {
        gap: 30px;

        @media (max-width: 1024px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
        }
    }

    .popup__body {
        display: flex;
        justify-content: space-between;
        align-items: unset;
        gap: 30px;
        background-color: $white;
        border-radius: 4px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

        @media (max-width: 768px) {
            padding: 15px;
            gap: 15px;
        }
    }

    .promotion {
        width: 280px;
        background-image: url("@img/discount.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        border-radius: 4px;
        overflow: hidden;

        @media (max-width: 1024px) {
            display: none;
        }

        &:after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            background: linear-gradient(0deg, rgba(55, 88, 77, 0) 0%, rgba(55, 88, 77, 0.5) 100%);
            z-index: 0;

            @media (max-width: 768px) {
                background: linear-gradient(0deg, rgba(55, 88, 77, 0) 0%, rgba(55, 88, 77, 0.7) 100%);
            }
        }

        // .promotion__body

        &__body {
            position: relative;
            z-index: 2;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
            padding: 20px;

            ._btn {
                width: 100%;
                @include adaptive-value("font-size", 16, 14, 1);
            }
        }

        // .promotion__content

        &__content {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        // .promotion__name

        &__name {
            color: $white;
            text-align: center;
            @include adaptive-value("font-size", 20, 16, 1);
            font-weight: 500;
            line-height: 100%;
        }

        span {
            color: $white;
            text-align: center;
            @include adaptive-value("font-size", 40, 30, 1);
            font-weight: 700;
            line-height: 90%;
            letter-spacing: 0.4px;
        }
    }

    ._btn {
        // ._btn-accent

        &-accent {
        }
    }

    .mega_menu {
        flex: 1 1 auto;

        nav {
            ul {
                li {
                    a {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        @media (max-width: 768px) {
                            font-size: 14px;
                            gap: 5px;
                        }

                        div {
                            width: 30px;
                            height: 30px;
                            flex: 0 0 auto;
                            padding: 5px;
                            svg,
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }
                    }
                }
            }
        }
    }
}
