$container: 1200;
$padding: 25;
$containerWithPadding: $container + ($padding * 2);

$accent: #37584d;
$accent_2: #d3bba1;
$hover: #b68f68;
$text: #262626;
$black: #1b2b2a;
$white: #fff;
$stroke: rgba(
    $color: $black,
    $alpha: 0.5
);
$stroke: #e5e5e5;
$gray: #eeeeee;
$gray_2: #e8e8e8;
