.cart-item {
    display: flex;
    flex-direction: column;

    border-radius: 4px;
    border: 1px solid $gray_2;
    padding: 10px;
    height: auto;
    transition: border-color 0.3s ease 0s;

    @media (any-hover: hover) {
        &:hover {
            border-color: $accent_2;
        }
    }

    // .cart-item__image

    &__image {
        display: block;
        border-radius: 4px;
        border: 1px solid $gray_2;
        position: relative;
        @include adaptive-value("height", 280, 140, 1);

        margin-bottom: 10px;
        transition: border-color 0.3s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                border-color: $accent_2;
            }
        }

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
            pointer-events: none;
        }
    }

    // .cart-item__discount

    &__discount {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 1;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;

        width: 42px;
        height: 42px;
        background-color: $hover;

        color: $white;
        @include adaptive-value("font-size", 22, 14, 1);

        @media (max-width: 1024px) {
            width: 25px;
            height: 25px;
            top: 5px;
            right: 5px;
        }
    }

    // .cart-item__name

    &__name {
        display: block;
        margin-bottom: 15px;
        color: $text;
        transition: color 0.3s ease 0s;
        flex: 1 1 auto;

        @media (max-width: 768px) {
            font-size: 14px;
        }

        @media (any-hover: hover) {
            &:hover {
                color: $accent_2;
            }
        }
    }

    div {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        div {
            align-items: flex-start;
            flex-direction: column;
            gap: 2px;

            @media (max-width: 1024px) {
                gap: 0;
            }

            span {
                color: $accent;
                font-size: 20px;

                @media (max-width: 1024px) {
                    font-size: 18px;
                }
            }
            del {
                opacity: 0.7;
            }

            label {
                color: $accent_2;
                font-size: 14px;
                @media (max-width: 1024px) {
                    font-size: 12px;
                }
            }
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 36px;
            height: 36px;
            border-radius: 2px;
            background-color: $accent;
            transition: background-color 0.3s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    background-color: $accent_2;
                }
            }

            svg {
                flex: 0 0 auto;
                width: 16px;
                height: 16px;
                fill: $white;
                pointer-events: none;
            }
        }
    }
}

.slider-item {
    border-radius: 4px;
    overflow: hidden;
    height: 100%;

    @media (min-width: 769px) {
        display: grid;
        grid-template-columns: 360px 1fr;
    }

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
    }

    &.slider-item-first {
        @media (min-width: 769px) {
            grid-template-columns: repeat(2, 1fr);
        }

        h4,
        p,
        span {
            text-align: left;
        }
    }

    h4 {
        color: $text;
        font-family: "PTSerif";
        @include adaptive-value("font-size", 30, 18, 1);
        text-align: center;
    }
    p {
        color: $text;
        @include adaptive-value("font-size", 24, 16, 1);
        text-align: center;
    }

    span {
        color: $text;
        @include adaptive-value("font-size", 22, 14, 1);
        text-align: center;
    }

    // .slider-item__left

    &__left {
        padding: 100px 40px 100px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
        background-color: $accent_2;

        @media (max-width: 768px) {
            padding: 20px;
            gap: 15px;
            flex: 1 1 auto;
        }

        img {
            height: 80px;
            @media (max-width: 768px) {
                height: 60px;
            }
        }
    }

    // .slider-item__right

    &__right {
        position: relative;
        min-height: 320px;
        flex: 1 1 auto;

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.advantages-item {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: $accent_2;
    color: $text;
    border-radius: 4px;
    padding: 10px;

    img {
        flex: 0 0 auto;
        width: 80px;
        height: 80px;

        @media (max-width: 738px) {
            width: 60px;
            height: 60px;
        }
    }

    span {
        @include adaptive-value("font-size", 22, 16, 1);
    }
}

.category-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $accent_2;
    border-radius: 4px;
    padding: 10px;
    height: 220px;

    @media (max-width: 1024px) {
        height: 160px;
    }

    @media (max-width: 768px) {
        height: 145px;
    }

    @media (any-hover: hover) {
        &:hover {
            img,
            svg {
                transform: translate(5px, 5px);
            }
        }
    }
    img,
    svg {
        width: 80px;
        height: 80px;
        object-fit: contain;
        transition: transform 0.3s ease 0s;

        @media (max-width: 1024px) {
            width: 60px;
            height: 60px;
        }

        @media (max-width: 768px) {
            width: 40px;
            height: 40px;
        }
    }

    h4 {
        color: $text;
        font-family: "PTSerif";
        @include adaptive-value("font-size", 22, 12, 1);
    }
}

.portfolio-item {
    time {
        color: #6a6a6a;
        font-family: Lato;
        font-size: 14px;
        font-weight: 500;
        display: block;
        margin-bottom: 2px;

        @media (max-width: 768px) {
            font-size: 12px;
        }
    }
    // .portfolio-item__name

    &__name {
        display: block;
        margin-bottom: 10px;
        color: $text;
        font-size: 18px;
        font-weight: 600;
        transition: color 0.3s ease 0s;

        @media (max-width: 768px) {
            font-size: 16px;
        }

        @media (any-hover: hover) {
            &:hover {
                color: $accent;
            }
        }
    }

    // .portfolio-item__image

    &__image {
        position: relative;
        display: block;
        height: 300px;
        padding: 15px;
        border-radius: 4px;
        overflow: hidden;

        @media (max-width: 768px) {
            height: 250px;
        }

        @media (any-hover: hover) {
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;
            transition: transform 0.8s ease 0s;
        }
    }

    // .portfolio-item__logo

    &__logo {
        position: absolute;
        bottom: 15px;
        left: 15px;
        z-index: 1;

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $white;
        border-radius: 2px;
        width: 60px;
        height: 60px;
        padding: 5px;

        img,
        svg {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: contain;
            transform: scale(1) !important;
        }
    }
}

.service-item {
    padding: 15px;
    border-radius: 4px;
    border: 1px solid $gray;
    color: $text;

    min-height: 280px;

    @media (max-width: 1024px) {
        min-height: 200px;
    }

    @media (max-width: 768px) {
        min-height: 150px;
    }

    img {
        width: 250px;
        height: 250px;
        object-fit: contain;
        float: left;

        @media (max-width: 1024px) {
            width: 200px;
            height: 200px;
        }

        @media (max-width: 768px) {
            width: 150px;
            height: 150px;
            margin-right: 15px;
            margin-bottom: 5px;
        }
    }

    h4,
    p {
        padding-left: 280px;

        @media (max-width: 1024px) {
            padding-left: 220px;
        }

        @media (max-width: 768px) {
            padding-left: 0;
        }
    }

    h4 {
        @include adaptive-value("font-size", 20, 16, 1);
        font-weight: 500;

        margin-bottom: 20px;

        @media (max-width: 768px) {
            margin-bottom: 15px;
        }
    }

    p {
        @media (max-width: 768px) {
            font-size: 14px;
        }
    }
}

.basket-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include adaptive-value("gap", 30, 15, 1);
    padding: 15px;
    border: 1px solid $gray;

    @media (max-width: 500px) {
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    // .basket-cart__info

    &__info {
        display: flex;
        @include adaptive-value("gap", 30, 15, 1);

        @media (max-width: 500px) {
            grid-column: span 3;
        }
    }

    // .basket-cart__image

    &__image {
        @include adaptive-value("width", 120, 70, 1);
        @include adaptive-value("height", 120, 70, 1);
        flex: 0 0 auto;
        position: relative;
        border-radius: 2px;
        overflow: hidden;
        border: 1px solid $gray;
        padding: 15px;

        @media (max-width: 500px) {
            padding: 5px;
        }

        @media (any-hover: hover) {
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: transform 0.7s ease 0s;
        }
    }

    // .basket-cart__name

    &__name {
        max-width: 300px;
        width: 100%;
        height: fit-content;
        transition: color 0.3s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                color: $accent_2;
            }
        }
    }

    // .basket-cart__actions

    &__actions {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;

        @media (max-width: 500px) {
            justify-content: start;
            flex-direction: row;
            align-items: center;
            grid-column: span 2;
        }
    }

    // .basket-cart__price

    &__price {
        white-space: nowrap;

        @media (max-width: 500px) {
            font-size: 14px;
        }
    }

    // .basket-cart__subtotalprice

    &__subtotalprice {
        white-space: nowrap;
        @media (max-width: 500px) {
            font-size: 14px;
        }
    }

    // .basket-cart__delete

    &__delete {
        display: flex;
        align-items: center;
        gap: 10px;

        color: $text;
        opacity: 0.5;
        transition: opacity 0.3s ease 0s;

        @media (max-width: 500px) {
            margin-left: auto;
            gap: 5px;
        }

        span {
            font-size: 14px;

            @media (max-width: 500px) {
                font-size: 12px;
            }
        }

        svg {
            width: 10px;
            height: 10px;
            flex: 0 0 auto;
            fill: currentColor;
        }

        @media (any-hover: hover) {
            &:hover {
                opacity: 1;
            }
        }
    }
}

.thanks-cart {
    gap: 10px;
    padding: 10px;
    border: 1px solid $white;
    border-radius: 2px;

    @media (max-width: 768px) {
        border-color: $gray;
    }

    * {
        color: $text;
    }

    // .thankorder-cart__info

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        gap: 10px;
    }

    // .thankorder-cart__name

    &__name {
        transition: color 0.3s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                color: $accent_2;
            }
        }

        @media (max-width: 768px) {
            font-size: 14px;
        }
    }

    // .thankorder-cart__image

    &__image {
        @include adaptive-value("width", 90, 60, 1);
        @include adaptive-value("height", 90, 60, 1);
        flex: 0 0 auto;
        position: relative;
        border-radius: 2px;
        overflow: hidden;
        border: 1px solid $white;
        padding: 5px;

        @media (any-hover: hover) {
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }

        @media (max-width: 768px) {
            border-color: $gray;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: transform 0.7s ease 0s;
        }
    }

    // .thankorder-cart__qty

    &__qty {
        display: flex;
        align-items: center;
        gap: 10px;

        span {
            @media (max-width: 768px) {
                font-size: 14px;
            }
        }
    }
}
