.hero {
    @include adaptive-value("margin-bottom", 100, 60, 1);

    // .hero__body

    &__body {
    }

    // .hero__image

    &__image {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px;
        border-radius: 4px;
        overflow: hidden;

        @include adaptive-value("height", 600, 380, 1);

        @media (max-width: 1024px) {
            padding: 20px 15px;
        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            object-fit: cover;
            pointer-events: none;
            z-index: -1;
        }

        &:before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;

            border-radius: 4px;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) -5.62%, rgba(0, 0, 0, 0) 24.46%);
            pointer-events: none;
            z-index: 1;

            @media (max-width: 768px) {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) -5.62%, rgba(0, 0, 0, 0) 100%);
            }
        }

        h1 {
            position: relative;
            z-index: 2;
        }

        svg {
            @include adaptive-value("width", 150, 100, 1);
            @include adaptive-value("height", 30, 20, 1);
            margin-left: auto;
            position: relative;
            z-index: 2;
        }
    }

    h1 {
        margin-top: auto;
    }
}

.section {
    @include adaptive-value("margin-bottom", 100, 60, 1);

    &.pages-hero {
        @include adaptive-value("margin-bottom", 50, 40, 1);

        h1 {
            font-family: "PTSerif";
            color: $text;
        }

        p {
            margin-top: 30px;
            color: $text;
            display: block;

            @media (min-width: 768px) {
                max-width: 75%;
            }
        }
    }

    // .section__container

    &__container {
    }

    // .section__body

    &__body {
    }

    // .section__flex

    &__flex {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
}

.catalog {
    h2 {
        @media (max-width: 1024px) {
            display: none;
        }
    }

    // .catalog__body

    &__body {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;

        h3 {
            display: block;
            margin-bottom: 30px;
            color: $text;
            text-align: center;
            @include adaptive-value("font-size", 30, 20, 1);
            line-height: 90%;

            @media (max-width: 1024px) {
                margin-bottom: 20px;
            }
        }
    }

    // .catalog__grid

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px 15px;

        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }
    }

    ._btn {
        width: fit-content;
        flex: 0 0 auto;
        margin-left: auto;
        margin-right: auto;
        @include adaptive-value("margin-top", 30, 15, 1);
    }

    // .catalog__specblok

    &__specblok {
        margin-top: 60px;

        h4 {
            display: block;
            margin-bottom: 30px;
            color: $text;
            font-family: Lato;
            @include adaptive-value("font-size", 30, 22, 1);
            line-height: 90%;

            @media (max-width: 768px) {
                br {
                    display: none;
                }
            }

            text-align: center;
        }
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;

            @media (max-width: 768px) {
                flex-direction: column;
                align-items: flex-start;
                gap: 15px;
            }

            li {
                transition: opacity 0.3s ease 0s;

                @media (any-hover: hover) {
                    &:hover {
                        opacity: 0.7;
                    }
                }
                a {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

                img {
                    flex: 0 0 auto;
                    width: 45px;
                    height: 45px;
                }

                span {
                    pointer-events: none;
                    color: $accent;
                    @include adaptive-value("font-size", 20, 16, 1);
                    line-height: 90%;
                }
            }
        }
    }
}

.slider {
    h2 {
        text-align: center;
    }

    ._btn {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        width: fit-content;
    }
}

.about-slider {
    // .about-slider__body

    &__body {
        max-width: 100%;
        min-height: 500px;
        min-width: 0;

        @media (max-width: 1200px) {
            min-height: 400px;
        }

        @media (max-width: 768px) {
            min-height: 320px;
        }
    }

    .pagination {
        position: absolute;
        left: 50%;
        bottom: 15px;
        transform: translate(-50%, 0);
        z-index: 2;

        span {
            background-color: rgba($color: $white, $alpha: 0.5);

            &.swiper-pagination-bullet-active {
                background-color: $white;
            }
        }
    }

    .swiper {
        flex: 0 0 auto;
        min-width: 0;
    }
}

.souvenirs-slider {
    .slider-item {
        display: block;

        @media (any-hover: hover) {
            &:hover {
                img {
                    transform: scale(1.05);
                }

                .slider-item__name {
                    background-color: $accent;
                    color: $white;
                }
            }
        }

        // .slider-item__image

        &__image {
            position: relative;
            display: block;
            @include adaptive-value("height", 580, 200, 1);

            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.5s ease 0s;
                pointer-events: none;
            }
        }

        // .slider-item__name

        &__name {
            transition: all 0.3s ease 0s;

            pointer-events: nonw;
            position: absolute;
            left: 30px;
            bottom: 30px;
            display: block;
            width: fit-content;
            padding: 20px;
            background-color: $white;
            border-radius: 4px;
            color: $accent;

            @media (max-width: 1024px) {
                padding: 10px;
                left: 15px;
                bottom: 15px;
            }

            span {
                pointer-events: none;
                @include adaptive-value("font-size", 26, 18, 1);
            }
        }
    }
}

.about {
    .grid {
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    // .about__image

    &__image {
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 4px;
        overflow: hidden;

        @media (max-width: 768px) {
            height: 330px;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }

    // .about__content

    &__content {
        p {
            display: block;
            @include adaptive-value("margin-bottom", 50, 25, 1);
            color: $text;
            @include adaptive-value("font-size", 22, 16, 1);
        }
    }
}

.advantages {
    h2 {
        text-align: center;
    }
}

.connection {
    h2 {
        text-align: center;
    }

    .grid {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
        overflow: hidden;

        @media (min-width: 1025px) {
            max-width: 950px;
        }
    }

    .grid {
        gap: 0;
    }

    // .connection__image

    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        img {
            width: 100%;
            object-fit: cover;
            object-position: top;

            @media (max-width: 1024px) {
                @include adaptive-value("max-height", 800, 300, 1);
            }
        }
    }

    // .connection__content

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $accent_2;
        padding: 30px;
        gap: 60px;

        @media (min-width: 1025px) {
            border-left: 1px solid $accent_2;
        }

        @media (max-width: 1024px) {
            padding: 15px;
            gap: 30px;
        }

        p {
            display: block;
            color: $text;
            @include adaptive-value("font-size", 22, 16, 1);
        }

        // .connection__content-contacts

        &-contacts {
            width: 100%;
            padding-top: 30px;
            border-top: 1px solid rgba(0, 0, 0, 0.2);
            display: flex;
            gap: 20px;

            ._btn {
                flex: 1 1 auto;
            }

            @media (max-width: 1024px) {
                padding-top: 15px;
            }
        }
    }
}

.clients {
    h2 {
        text-align: center;
    }

    //  .clients__logo

    &__logo {
        img {
            max-width: 200px;
            width: 100%;
            height: 100px;
            object-fit: contain;

            @media (max-width: 1024px) {
                height: 80px;
            }
        }
    }
}

.diplomas {
    h2 {
        text-align: center;
    }

    //  .diplomas__image

    &__image {
        display: block;

        img {
            width: 100%;
            object-fit: contain;

            @media (max-width: 1024px) {
            }
        }
    }
}

.history {
    .grid {
        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }
    // .history__image

    &__image {
        @include adaptive-value("height", 545, 250, 1);
        width: 100%;
        position: relative;
        border-radius: 4px;
        overflow: hidden;

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }

    // .history__content

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;

        p,
        span {
            color: $text;
            @include adaptive-value("font-size", 22, 16, 1);
        }

        span {
            font-weight: 600;
        }
    }
}

.category {
    .grid {
        gap: 15px;

        @media (max-width: 768px) {
            gap: 10px;
        }
    }

    .page-numbers {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        gap: 10px;
        margin-top: 30px;
        font-size: 14px;

        li {
            flex: 0 0 auto;
        }

        a,
        span {
            width: 35px;
            height: 35px;
            border: 1px solid $gray;

            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            img,
            svg {
                width: 11px;
                height: 5px;
                flex: 0 0 auto;
            }

            transition: all 0.3s ease 0s;
        }

        span {
            background-color: $accent;
            color: $white;
        }

        a {
            @media (any-hover: hover) {
                &:hover {
                    background-color: $gray;
                }
            }
        }

        .prev {
            img,
            svg {
                transform: rotate(180deg);
            }
        }

        .current-page {
        }

        .next {
        }
    }
}

.discount {
    background-image: url("@img/discount.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &:after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background: linear-gradient(0deg, rgba(55, 88, 77, 0) 0%, rgba(55, 88, 77, 0.5) 100%);
        z-index: 0;

        @media (max-width: 768px) {
            background: linear-gradient(0deg, rgba(55, 88, 77, 0) 0%, rgba(55, 88, 77, 0.7) 100%);
        }
    }

    // .discount__content

    &__content {
        position: relative;
        z-index: 2;
        padding-top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;

        @media (max-width: 768px) {
            gap: 15px;
            margin-bottom: 30;
        }

        span {
            color: $white;
            @include adaptive-value("font-size", 100, 50, 1);
            font-weight: 700;
            line-height: 90%;
        }
    }

    // .discount__name

    &__name {
        max-width: 800px;
        width: 100%;
        color: $white;
        text-align: center;
        @include adaptive-value("font-size", 40, 16, 1);
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        text-transform: uppercase;
    }

    // .discount__lines

    &__lines {
        pointer-events: none;
        position: relative;
        height: 120px;
        bottom: 0;
        z-index: 1;

        @media (max-width: 768px) {
            height: 90px;
        }

        & > :first-child {
            transform: translate(-50%, -50%) rotate(-3deg);
            z-index: 2;
            background-color: #ffc700;

            @media (max-width: 1024px) {
                transform: translate(-50%, -50%) rotate(-4deg);
            }
        }

        & > :last-child {
            transform: translate(-50%, -50%) rotate(3deg);

            @media (max-width: 1024px) {
                transform: translate(-50%, -50%) rotate(4deg);
            }

            &:after {
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), #ffc700;
            }
        }

        div {
            position: absolute;
            left: 50%;
            top: 50%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
            padding: 10px;

            span {
                position: relative;
                z-index: 1;
                white-space: nowrap;
                display: block;
                color: $text;
                font-size: 14px;
                font-weight: 500;
                line-height: 100%;
            }
        }
    }
}

.case {
    .grid {
        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }
    // .case__content

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;

        // .case__content-top

        &-top {
            display: flex;
            justify-content: space-between;
        }

        // .case__content-info

        &-info {
            display: flex;
            flex-direction: column;
            gap: 5px;

            span {
                color: rgba($color: $text, $alpha: 0.5);

                @media (max-width: 768px) {
                    font-size: 14px;
                }
            }

            label {
                color: $text;
                font-family: "PTSerif";
                @include adaptive-value("font-size", 22, 16, 1);
                line-height: 100%;
            }
        }

        // .case__content-logo

        &-logo {
            width: 70px;
            position: relative;

            @media (max-width: 768px) {
                width: 40px;
            }

            img,
            svg {
            }
        }
    }

    // .case__image

    &__image {
        @include adaptive-value("height", 400, 200, 1);
        width: 100%;
        position: relative;
        border-radius: 4px;
        overflow: hidden;

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .case__solution

    &__solution {
        display: flex;
        flex-direction: column;
        gap: 10px;
        @include adaptive-value("margin-top", 60, 15, 1);

        span {
            font-weight: 600;
        }

        span,
        p {
            color: $text;
            @include adaptive-value("font-size", 22, 14, 1);
        }
    }
}

.service {
    .section__body {
        & > :not(:last-child) {
            margin-bottom: 30px;
        }
    }
}

.text-box {
    .section__body {
        @media (min-width: 768px) {
            max-width: 75%;
        }
    }
    color: $text;

    h2 {
        color: $text;
        font-family: "PTSerif";
        @include adaptive-value("font-size", 24, 20, 1);
        line-height: 100%;
        display: block;
        margin-bottom: 30px;
    }

    p {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        @include adaptive-value("font-size", 20, 14, 1);
    }

    // .text-box__images

    &__images {
        margin-bottom: 30px;

        @media (max-width: 1024px) {
            grid-template-columns: repeat(3, 1fr);
            gap: 15px;
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 425px) {
            grid-template-columns: 1fr;
        }

        img {
            border-radius: 4px;
        }
    }

    picture,
    figure,
    img,
    iframe,
    video {
        width: auto;
        height: auto;
        border-radius: 4px;
        max-width: 100%;
        display: block;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    video,
    iframe {
        width: 100%;
        aspect-ratio: 16/9;
    }
}

.about-page {
    .grid {
        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }
    // .about-page__image

    &__image {
        position: relative;
        border-radius: 4px;
        overflow: hidden;
        @include adaptive-value("height", 600, 320, 1);

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }

        div {
            position: absolute;
            bottom: 15px;
            left: 15px;

            z-index: 1;
            display: flex;
            flex-direction: column;
            gap: 5px;
            color: $text;
            background-color: $white;
            padding: 10px;
            border-radius: 2px;

            label {
                font-size: 14px;
                opacity: 0.5;
            }

            span {
                font-weight: 600;
                @include adaptive-value("font-size", 18, 16, 1);
            }
        }
    }

    // .about-page__content

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;

        p {
            color: $text;
            @include adaptive-value("font-size", 18, 14, 1);
        }

        h5 {
            margin-top: auto;
        }
    }
}

.contacts {
    .grid {
        @media (max-width: 1024px) {
            gap: 60px;
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    // .contacts__content

    &__content {
        display: flex;
        flex-direction: column;
        gap: 30px;

        ul {
            display: flex;
            flex-direction: column;
            gap: 30px;

            &._socials-main {
                flex-direction: row;
                gap: 15px;
            }

            li {
                display: flex;
                flex-direction: column;
                gap: 5px;
                color: $text;
                max-width: 350px;

                label {
                    opacity: 0.8;
                }

                a {
                }
            }
        }
    }

    .form {
        h3 {
            text-align: center;
        }
    }
}

.product {
    .section__flex {
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
    .pagination {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 15px;
        z-index: 2;

        gap: 5px;
        span {
            width: 5px;
            height: 5px;
        }
    }

    // .product__slider

    &__slider {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        overflow: hidden;

        @media (min-width: 769px) {
            max-width: 50%;
        }

        .swiper {
            width: 100%;
        }

        .main-slider {
            position: relative;

            .swiper-slide {
                height: 440px;

                @media (max-width: 768px) {
                    height: 340px;
                }
            }
        }

        .thumbs-slider {
            height: fit-content;

            .swiper-slide {
                height: 100px;
                opacity: 0.4;

                @media (max-width: 768px) {
                    height: 80px;
                }

                &.swiper-slide-thumb-active {
                    opacity: 1;
                }
            }
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    // .product__content

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;

        // .product__content-center

        &-center {
            & > :not(:last-child) {
                margin-bottom: 30px;

                @media (max-width: 768px) {
                    margin-bottom: 20px;
                }
            }
        }

        // .product__content-bottom

        &-bottom {
            padding-top: 20px;
            border-top: 1px solid $gray;

            & > :not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }

    // .product__pricebox

    &__pricebox {
        color: $accent;
        @include adaptive-value("font-size", 30, 26, 1);
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        display: flex;
        align-items: center;
        gap: 20px;

        del {
            opacity: 0.5;
            @include adaptive-value("font-size", 20, 16, 1);
            font-weight: 500;
        }
    }

    // .product__actions

    &__actions {
        display: flex;
        align-items: center;
        gap: 20px;

        svg {
            stroke: $accent;
            width: 12px;
            height: 12px;
        }

        ._btn {
            width: 100%;
            height: 50px;
        }

        @media (max-width: 768px) {
            ._btn {
                height: 40px;
            }

            .quantity .qty-btn,
            .quantity input {
                width: 40px;
                height: 40px;
            }
        }
    }

    // .product__article

    &__article {
        color: $text;

        span {
            font-weight: 600;
        }

        label {
            font-weight: 400;
        }
    }

    // .product__colors

    &__colors {
        span {
            color: $text;
            font-weight: 600;
            display: block;
            margin-bottom: 10px;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            li {
                border: 1px solid rgba(0, 0, 0, 0);
                transition: border-color 0.3s ease 0s;
                border-radius: 2px;

                @media (any-hover: hover) {
                    &:hover {
                        border-color: $accent;
                    }
                }

                &._active {
                    border-color: $accent;
                }

                a {
                    width: 48px;
                    height: 48px;
                    display: block;
                    position: relative;

                    @media (max-width: 768px) {
                        width: 37px;
                        height: 37px;
                    }

                    img {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100px;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }

    // .product__descr

    &__descr {
        margin-top: 50px;

        // .product__descr-title

        &-title {
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 5px;
            padding-inline: 20px;
            border-top: 1px solid $accent;
            margin-bottom: 30px;

            color: $text;
            text-align: center;
            font-family: Lato;
            @include adaptive-value("font-size", 22, 18, 1);

            @media (max-width: 768px) {
                margin-bottom: 20px;
            }
        }

        // .product__descr-content

        &-content {
            display: flex;
            flex-direction: column;
            gap: 30px;

            ol {
                & > :not(:last-child) {
                    margin-bottom: 30px;
                }

                color: $text;

                span {
                    display: block;
                    margin-bottom: 15px;
                    @include adaptive-value("font-size", 22, 16, 1);
                    font-style: normal;
                    font-weight: 700;
                }

                li {
                    ol {
                        li {
                            &:not(:last-child) {
                                margin-bottom: 5px;
                            }
                        }
                    }

                    @include adaptive-value("font-size", 22, 14, 1);
                }
            }

            p {
                color: $text;
                @include adaptive-value("font-size", 22, 14, 1);
            }
        }
    }

    ._main-info {
        color: $accent;
        border-color: $accent;
    }
}

.basket {
    display: flex;
    gap: 30px;

    .section__body {
        display: flex;
        justify-content: space-between;
        gap: 30px;

        @media (max-width: 992px) {
            flex-direction: column;
        }
    }

    .form {
        width: 100%;
        border: 1px solid $gray;
        padding: 15px;

        @media (min-width: 769px) {
            max-width: 360px;
        }

        h3 {
            text-align: center;
        }
        ._btn {
            margin-top: 30px;
            @media (min-width: 769px) {
                height: 45px;
            }

            font-size: 14px;
        }
    }

    // .basket__empty

    &__empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;

        @media (max-width: 768px) {
            gap: 15px;
        }

        p {
            color: $text;
            text-align: center;
            @include adaptive-value("font-size", 22, 16, 1);

            @media (min-width: 426px) {
                max-width: 420px;
                width: 100%;
            }
        }

        div {
            width: 100px;
            height: 100px;
            position: relative;
            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    // .basket__row

    &__row {
        width: 100%;

        & > :not(:last-child) {
            margin-bottom: 20px;
        }
    }
}
